scrollbar {
  background-color: #dddddd;
}
scrollbar slider {
  border: 0px;
  border-radius:0px;
  background-color: rgba(0, 0, 0, 0.3);
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering) slider {
  border: 0px;
  margin: 0px;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering) button {
  border: 0px;
  margin: 0px;
}
