.titlebar.default-decoration {
  margin: -200px;
  opacity: 0;
}
/*
https://joshtronic.com/2017/07/26/hide-title-bars-in-gnome-shell/
https://securitronlinux.com/bejiitaswrath/how-to-make-the-title-bars-in-gnome-shell-much-thinner-than-the-default/
https://unix.stackexchange.com/questions/257163/reduce-title-bar-height-in-gnome-3-gtk-3
https://www.bidon.ca/fr/random/2017-02-25-customizing-gnome-shell-3-20
*/
window.ssd headerbar * {
  margin-top: -100px;
}
window.ssd headerbar.titlebar,
window.ssd headerbar.titlebar button.titlebutton {
  border: none;
  font-size: 0;
  /*height: 0;*/
  margin: 0;
  /*max-height: 0;*/
  min-height: 0;
  padding: 0;
}

decoration {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
decoration:backdrop {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.ssd decoration {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.ssd.maximized decoration,
.ssd.fullscreen decoration {
  box-shadow: 0 0 0 transparent;
}

scrollbar {
  margin: 3px;
  border: 3px;
  border-radius: 3px;
  border-color: #ffffff;
  background-color: #bbbbbb;
}

scrollbar.top scrollbar.bottom scrollbar.left scrollbar.right {
  border-bottom: 3px;
  border-top: 3px;
  border-right: 3px;
  border-left: 3px;
}

scrollbar slider {
  margin: 0px;
  border: 0px;
  border-radius: 3px;
  background-color: #777777;
  min-width: 6px;
  min-height: 6px;
}
