* {
  font-size: 14px;
  font-family: monospace;
}
window#waybar {
  background-color: #222222;
  color: #ffffff;
  border-top: 1px solid #777777;
}

#custom-notifications, #memory, #cpu, #battery, #clock {
	background-color: #222222;
  color: #ffffff;
  border-top: 1px solid #777777;
  padding: 0 5px;
}
#memory, #cpu, #battery { min-width: 40px; }
#clock { min-width: 170px; }

#network {
  background-color: #222222;
  color: #ffffff;
  border-top: 1px solid #777777;
  padding: 0 0 0 5px;
}
#network.linked { color: #f5ec3c; }

#custom-internet {
  background-color: #222222;
  color: #f53c3c;
  border-top: 1px solid #777777;
  padding: 0 5px 0 0;
}

#network.disconnected, #network.linked,
#memory.warning, #cpu.warning, #battery.warning:not(.charging) {
  color: #f53c3c;
}

@keyframes blink {
  to { color: #ffffff; }
}
#cpu.critical, #memory.critical, #battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.charging { color: #f5ec3c; }
