* {
	box-sizing: border-box;
}

:root {
  font-size: 14px;
}

project-files {
  background-color: #cccccc;
  border-right: 1px solid #aaaaaa;
}

::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar:horizontal, ::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-scrollbar-track {
	border: 3px solid transparent;
	border-radius: 6px;
	background-clip: content-box;
	background-color: #bbbbbb;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}
::-webkit-scrollbar-thumb {
  height: 30px;
	border: 3px solid transparent;
	border-radius: 6px;
  background-clip: padding-box;
	background-color: #777777;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
  /* outline: 1px solid slategrey; */
}
