# i3 config file (v4)
default_border pixel 1
default_floating_border pixel 1
hide_edge_borders smart
focus_follows_mouse no
exec compton
exec --no-startup-id "atom --wait; i3-msg exit"

# class                 border  backgr. text    indicator child_border
client.focused          #222222 #444444 #444444 #aaaaaa   #aaaaaa
client.focused_inactive #222222 #444444 #444444 #aaaaaa   #aaaaaa
client.unfocused        #aaaaaa #cccccc #cccccc #aaaaaa   #aaaaaa
client.urgent           #900000 #cccccc #cccccc #900000   #900000

for_window [class=Atom] floating enable, \
  resize set 100 ppt 100 ppt, move position center

for_window [class="^(?!Atom$)"] floating enable, \
  resize set 90 ppt 90 ppt, move position center

#bindsym --release Super_R [workspace=__focused__ floating] move scratchpad
#bindsym --release Super_L [workspace=__focused__ floating] move scratchpad
#set $atom [class="^(?!Atom$)"] move scratchpad; exec --no-startup-id \
#  "pgrep -x atom >/dev/null || atom"
set $atom [class=Firefox] move scratchpad; [class=Sakura] move scratchpad; \
  exec --no-startup-id "pgrep -x atom >/dev/null || atom"
bindsym --release Super_R $atom
bindsym --release Super_L $atom
bindsym Control+q kill

# Firefox:
#bindsym Mod4+Tab exec --no-startup-id \
#  "if [[ \\"$(i3-msg [workspace=__focused__ class=Firefox] focus)\\" =~ \\"false\\" ]]; \
#  then i3-msg [workspace=__focused__ floating] move scratchpad; \
#    if [[ \\"$(i3-msg [class=Firefox] scratchpad show)\\" =~ \\"false\\" ]]; \
#    then firefox; fi fi"
#bindsym Mod4+Tab exec --no-startup-id \
#  "if [[ \\"$(i3-msg [class=Firefox] focus)\\" =~ \\"false\\" ]]; \
#  then firefox; fi"
bindsym Mod4+Tab [class=Firefox] focus; exec --no-startup-id \
  "pgrep -x firefox >/dev/null || firefox"

# Sakura:
#bindsym Mod4+Return exec --no-startup-id \
#  "if [[ \\"$(i3-msg [workspace=__focused__ class=Sakura] focus)\\" =~ \\"false\\" ]]; \
#  then i3-msg [workspace=__focused__ floating] move scratchpad; \
#    if [[ \\"$(i3-msg [class=Sakura] scratchpad show)\\" =~ \\"false\\" ]]; \
#    then sakura; fi fi"
#bindsym Mod4+Return exec --no-startup-id \
#  "if [[ \\"$(i3-msg [class=Sakura] focus)\\" =~ \\"false\\" ]]; \
#  then sakura; fi"
bindsym Mod4+Return [class=Sakura] focus; exec --no-startup-id \
  "pgrep -x sakura >/dev/null || sakura"
