'atom-workspace':
  'alt-enter': 'comshell:projects-list'
  'alt': 'do-nothing'
  'ctrl-tab': 'tree-view:toggle-focus'

'atom-text-editor':
  'ctrl-down': 'editor:move-to-beginning-of-next-paragraph'
  'ctrl-up': 'editor:move-to-beginning-of-previous-paragraph'
#  'space': 'comshell:space'
#'atom-text-editor[min]':
#  'space': 'comshell:space'
