.status-bar {
  .file-info,
  .cursor-position,
  .selection-count,
  .git-view,
  .github-StatusBarTileController {
    display: none;
  }
}

.atom-dock-toggle-button-visible {
  display: none;
}

atom-dock.left .tab-bar {
	display: none;
}

.scrollbars-visible-always {
 ::-webkit-scrollbar {
    width: 1px;
    height: 1px;

    &-track {
      border-radius: 0px;
      //background-color: #dddddd !important;
      background: repeating-linear-gradient(
        #555555, #555555 10px, #dddddd 10px, #dddddd 12px) !important;
    }

    &-thumb {
      border: 0px;
      border-radius: 0px;
      background-clip: content-box !important;
      background-color: #dddddd !important;
    }

    //&-button:single-button {
    //  display: block;
    //  width: 5px;
    //  height: 5px;
    //  background-color: #aaaaaa;
    //}
  }
}

.scrollbar-corner, .horizontal-scrollbar {
  display: none;
}

// "http://bluegalaxy.info/codewalk/2018/05/24/atom-enable-style-editor-scrollbars/"
// "https://discuss.atom.io/t/change-the-color-and-width-of-editors-sidebar/18545"
