.status-bar {
  .file-info,
  .cursor-position,
  .selection-count,
  .git-view,
  .github-StatusBarTileController {
    display: none;
  }
}

.atom-dock-toggle-button-visible {
  display: none;
}

atom-dock.left .tab-bar {
	display: none;
}
