.status-bar {
  .file-info,
  .cursor-position,
  .selection-count,
  .git-view,
  .github-StatusBarTileController {
    display: none;
  }
}

.atom-dock-toggle-button-visible {
  display: none;
}

atom-dock.left .tab-bar {
	display: none;
}

// "http://bluegalaxy.info/codewalk/2018/05/24/atom-enable-style-editor-scrollbars/"
// "https://discuss.atom.io/t/change-the-color-and-width-of-editors-sidebar/18545"
