focus_follows_mouse no
default_border pixel 1
default_floating_border pixel 1
# class                 border  backgr. text    indicator child_border
client.focused          #000000 #000000 #000000 #000000   #000000
client.focused_inactive #000000 #000000 #000000 #000000   #000000
client.unfocused        #000000 #000000 #000000 #aaaaaa   #aaaaaa
client.urgent           #000000 #000000 #000000 #000000   #000000

set $gnome-schema org.gnome.desktop.interface
exec_always {
  gsettings set $gnome-schema gtk-theme Materia-light-compact
  gsettings set $gnome-schema font-name Sans
}

for_window [class="^(?!Atom$)" tiling] \
  floating enable, resize set 90 ppt 90 ppt, move position center
for_window [app_id="^(?!atom$|sakura$)" tiling] \
  floating enable, resize set 90 ppt 90 ppt, move position center
for_window [app_id=sakura tiling] \
  floating enable, resize set 70 ppt 70 ppt, move position center

exec "atom --wait"

exec_always swaymsg [floating] move scratchpad

bindsym Mod1+Tab [floating] move scratchpad; \
  exec "swaymsg [class=Chromium] scratchpad show"; \
  exec "swaymsg [app_id=chromium] scratchpad show"; \
  exec "pgrep -x chromium >/dev/null || (chromium; swaymsg mode default)"; \
  mode not-atom
bindsym Mod1+grave [floating] move scratchpad; \
  exec "swaymsg [app_id=sakura] scratchpad show"; \
  exec "pgrep -x sakura >/dev/null || (sakura; swaymsg mode default)"; \
  mode not-atom

bindsym Mod1+Next focus right
bindsym Mod1+Prior focus left
bindsym Mod1+Escape kill

mode not-atom {
  bindsym Mod1+Tab [floating] move scratchpad; \
    exec "pgrep -x atom >/dev/null || atom --wait"; \
    mode default
  bindsym Mod1+grave [floating] move scratchpad; \
    exec "swaymsg [app_id=sakura] scratchpad show"; \
    exec "pgrep -x sakura >/dev/null || (sakura; swaymsg mode default)"

  bindsym Mod1+Next focus right
  bindsym Mod1+Prior focus left
  bindsym Mod1+Escape kill
}
