focus_follows_mouse no
default_border pixel 1
default_floating_border pixel 1
hide_edge_borders smart

# class                 border  backgr. text    indicator child_border
client.focused          #222222 #444444 #444444 #aaaaaa   #aaaaaa
client.focused_inactive #222222 #444444 #444444 #aaaaaa   #aaaaaa
client.unfocused        #aaaaaa #cccccc #cccccc #aaaaaa   #aaaaaa
client.urgent           #900000 #cccccc #cccccc #900000   #900000

for_window [class=Atom] floating enable, resize set 100 ppt 100 ppt, move position center; \
  mode "default"
for_window [class=Chromium] floating enable, resize set 100 ppt 100 ppt, move position center; \
  mode "default"

exec atom
#exec --no-startup-id "atom --wait; swaymsg '[class=.] kill'; sleep 1; swaymsg exit"

set $next-window \
  focus right; \
  exec --no-startup-id "pgrep -x chromium >/dev/null || chromium; pgrep -x chromium >/dev/null || pgrep -x atom >/dev/null || swaymsg mode terminals"; \
  exec --no-startup-id "pgrep -x atom >/dev/null || atom --wait; pgrep -x chromium >/dev/null || pgrep -x atom >/dev/null || swaymsg mode terminals"
bindsym Super_R $next-window
bindsym Super_L $next-window

set $goto-terminals \
  [floating] move scratchpad; \
  exec "pgrep -x alacritty >/dev/null || alacritty"; \
  mode "terminals"
bindsym Control+Super_R $goto-terminals
bindsym Control+Super_L $goto-terminals

set $new-terminal [floating] move scratchpad; exec alacritty; mode "terminals"
bindsym Control+Shift+Super_R $new-terminal
bindsym Control+Shift+Super_L $new-terminal

mode "terminals" {
  bindsym Super_R focus right
  bindsym Super_L focus right

  set $leave-terminals \
    [floating] scratchpad show; \
    exec --no-startup-id "pgrep -x chromium >/dev/null || pgrep -x atom >/dev/null || atom --wait; pgrep -x chromium >/dev/null || pgrep -x atom >/dev/null || swaymsg mode terminals"; \
    mode "default"
  bindsym Control+Super_R $leave-terminals
  bindsym Control+Super_L $leave-terminals

  bindsym Control+Shift+Super_R exec alacritty
  bindsym Control+Shift+Super_L exec alacritty
}
