focus_follows_mouse no
default_border none
default_floating_border pixel 1

exec_always {
  gsettings set $gnome-schema gtk-theme Materia-light-compact
  gsettings set $gnome-schema font-name Sans
}

for_window [class=Atom] move workspace atom
exec --no-startup-id "while true; do atom --wait || break; done"
exec --no-startup-id "swaymsg workspace atom; swaymsg mode atom"

set $goto_atom workspace atom; mode atom
bindsym Super_R $goto_atom
bindsym Super_L $goto_atom

set $rofi exec rofi -show run
bindsym Control+Super_R $rofi
bindsym Control+Super_L $rofi

mode atom {
  set $goto_chromium workspace chromium; mode chromium; \
    exec "pgrep -x chromium >/dev/null || chromium"
  bindsym Super_R $goto_chromium
  bindsym Super_L $goto_chromium

  bindsym Control+Super_R $rofi
  bindsym Control+Super_L $rofi
}

mode chromium {
  set $goto_sakura workspace sakura; mode default; \
    exec "pgrep -x sakura >/dev/null || sakura"
  bindsym Super_R $goto_sakura
  bindsym Super_L $goto_sakura

  bindsym Control+Super_R $rofi
  bindsym Control+Super_L $rofi
}
