# i3 config file (v4)
default_border none
default_floating_border pixel 1
focus_follows_mouse no
workspace_layout tabbed
font pango:Sans 0
# class                 border  backgr. text    indicator child_border
client.focused          #222222 #444444 #444444 #222222   #222222
client.focused_inactive #222222 #444444 #444444 #222222   #222222
client.unfocused        #aaaaaa #cccccc #cccccc #aaaaaa   #aaaaaa
client.urgent           #900000 #cccccc #cccccc #900000   #900000

exec compton --inactive-dim = 0.2

for_window [class="^(?!Emacs$)" window_type=normal] floating enable, \
  resize set 90 ppt 90 ppt, move position center
for_window [class="^Emacs$" title="^external$" window_type=normal] floating enable, \
  resize set 90 ppt 90 ppt, move position center, move scratchpad
for_window [class="^Emacs$" title="^projects$" window_type=normal] floating enable, \
  resize set 25 ppt 90 ppt, move position center

exec "emacs --title='projects' --eval='(show-projects)'; i3-msg exit"

bar {
  status_command i3status
  font pango:Sans 10.5
  separator_symbol " | "
  colors {
    background #ffffff00
    statusline #222222ff
    separator #aaaaaaff
  }
  position bottom
  output primary
  workspace_buttons no
}
