# i3 config file (v4)
default_border none
default_floating_border none
focus_follows_mouse no

exec compton \
  --shadow-radius=5 --shadow-offset-x=-8 --shadow-offset-y=-8 --no-dock-shadow \
  --unredir-if-possible-exclude "class_g %= '*'" \
  --shadow-exclude "class_g = 'Firefox' && argb"

for_window [title="^(?!comshell$)"] floating enable, resize set 90 ppt 90 ppt, move position center, \
  move scratchpad, scratchpad show
for_window [title="^comshell$"] floating disable
exec --no-startup-id "emacs; i3-msg '[class=.] kill'; i3-msg exit"

for_window [class=Firefox window_type=normal] resize set 100 ppt 100 ppt, move position center
bindsym Mod1+Tab exec --no-startup-id \
  "if [[ \\"$(i3-msg [workspace=__focused__ class=Firefox] scratchpad show)\\" =~ \\"false\\" ]]; \
  then if [[ \\"$(i3-msg [class=Firefox] scratchpad show)\\" =~ \\"false\\" ]]; \
       then firefox; fi fi"

bindsym --release F12 exec --no-startup-id systemctl suspend
