# i3 config file (v4)
default_border pixel 1
default_floating_border pixel 1
hide_edge_borders smart
focus_follows_mouse no
workspace_layout tabbed
font pango:Monospace 0
# class                 border  backgr. text    indicator child_border
client.focused          #222222 #444444 #444444 #aaaaaa   #aaaaaa
client.focused_inactive #222222 #444444 #444444 #aaaaaa   #aaaaaa
client.unfocused        #aaaaaa #cccccc #cccccc #aaaaaa   #aaaaaa
client.urgent           #900000 #cccccc #cccccc #900000   #900000

exec compton --shadow-opacity 0.0

for_window [class="^(?!Emacs$)" window_type=normal] floating enable, \
  resize set 90 ppt 90 ppt, move position center
for_window [class="^Emacs$" title="^external$" window_type=normal] floating enable, \
  resize set 90 ppt 90 ppt, move position center, move scratchpad
for_window [class="^Emacs$" title="^projects$" window_type=normal] floating enable, \
  resize set 25 ppt 90 ppt, move position center

exec "emacs --title='projects' --eval='(show-projects)'; i3-msg exit"

bar {
  i3bar_command i3bar -t
  status_command i3status | (read line && echo "$line" && read line && echo "$line" && read line && echo "$line" && while : ; do read line; echo ",[{\\"full_text\\":\\"$(free | awk '/Mem/{printf("RAM: %02i%"), $3/$2*100}')\\"},${line#,\[}" || exit 1; done)
  font pango:Monospace 10.5
  separator_symbol " | "
  colors {
    background #ffffff00
    statusline #555555ff
    separator #aaaaaaff
  }
  position bottom
  mode hide
  hidden_state show
  output primary
  workspace_buttons no
}
