general {
  output_format = "i3bar"
  colors = true
  interval = 5
}

order += "cpu_usage"
order += "wireless _first_"
order += "battery all"
order += "tztime local"

cpu_usage {
  format = "CPU: %usage"
}
wireless _first_ {
  format_up = "WIFI: %quality(%essid)"
  format_down = ""
}
battery all {
  format = "BAT: %status%percentage"
  format_down = ""
  status_chr = "+"
  status_bat = ""
  status_unk = ""
  status_full = ""
}
tztime local {
  format = "%F %a %p %I:%M "
}
