focus_follows_mouse no
workspace_layout tabbed
default_border pixel 1
default_floating_border pixel 1
hide_edge_borders --i3 smart
titlebar_border_thickness 4
titlebar_padding 6 6
font pango:monospace 0
# class                 border  backgr. text    indicator child_border
client.focused          #222222 #4285F4 #4285F4 #222222   #222222
client.focused_inactive #222222 #4285F4 #4285F4 #222222   #222222
client.unfocused        #222222 #cccccc #cccccc #aaaaaa   #aaaaaa
client.urgent           #222222 #cccccc #cccccc #aaaaaa   #aaaaaa

set $gnome-schema org.gnome.desktop.interface
exec_always {
  gsettings set $gnome-schema gtk-theme Materia-light-compact
  gsettings set $gnome-schema font-name Sans
}

exec "lua ~/.comshell-proto/comshell.lua"

# for miscellaneous programs:
bindsym Mod1+Next focus right
bindsym Mod1+Prior focus left
bindsym Mod1+Escape kill
